# .gitattributes file for picosdk-ps6000a-matlab-instrument-driver

help/* linguist-documentation 

# Recommended by MathWorks

*.mlx -crlf -diff -merge
*.mat -crlf -diff -merge
*.fig -crlf -diff -merge
*.p -crlf -diff -merge
*.jpg -crlf -diff -merge
*.png -crlf -diff -merge

# Microsoft Windows operating system

*.dll -crlf -diff -merge

# Linux operating system

*.so -crlf -diff -merge